body {
  padding: 20px;
  width: 100%;
}

.hidden {
  display: none;
}

.table_component {
  overflow: auto;
  width: 100%;
}

.table_component table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component caption {
  caption-side: top;
  text-align: left;
}

.table_component th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.table_component td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.navbar {
  width: 100%;
  background-color: #6da7e0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar-inner {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
}

.navbar button {
  border: 0;
  font-size: 20px;
}

.navbar button:hover {
  cursor: pointer;
  opacity: 0.9;
}
